<a href="https://colab.research.google.com/github/monanjo123/Fraud-Detection/blob/master/Fraud%20Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import time
import os
import random
import datetime
import pandas as pd
import matplotlib.pyplot as plt
import statistics
import numpy as np
import scipy
import seaborn as sns
import copy
from pandas import concat, DataFrame
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer, make_column_transformer
import zipfile

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [0]:
# unzip dataset zip file
local_zip = '/content/drive/My Drive/Machine Learning/datasets/ieee-fraud-detection.zip'
zip_ref = zipfile.ZipFile(local_zip, 'r')
zip_ref.extractall('/content/drive/My Drive/Machine Learning/datasets/iiee-fraud-detection')
zip_ref.close()

# Explore Data

In [0]:
data_path ='/content/drive/My Drive/Machine Learning/datasets/iiee-fraud-detection'
train_transaction = pd.read_csv('{}/train_transaction.csv'.format(data_path))
test_transaction = pd.read_csv('{}/test_transaction.csv'.format(data_path))

In [4]:
train_transaction.head()

   TransactionID  isFraud  TransactionDT  ...  V337 V338  V339
0        2987000        0          86400  ...   NaN  NaN   NaN
1        2987001        0          86401  ...   NaN  NaN   NaN
2        2987002        0          86469  ...   NaN  NaN   NaN
3        2987003        0          86499  ...   NaN  NaN   NaN
4        2987004        0          86506  ...   0.0  0.0   0.0

[5 rows x 394 columns]

In [5]:
test_transaction.head()

   TransactionID  TransactionDT  TransactionAmt  ... V337  V338  V339
0        3663549       18403224           31.95  ...  NaN   NaN   NaN
1        3663550       18403263           49.00  ...  NaN   NaN   NaN
2        3663551       18403310          171.00  ...  NaN   NaN   NaN
3        3663552       18403310          284.95  ...  NaN   NaN   NaN
4        3663553       18403317           67.95  ...  NaN   NaN   NaN

[5 rows x 393 columns]

In [0]:
# Split test data
X = train_transaction.iloc[:, 3:-1].values
y = train_transaction.iloc[:, 3].values

In [0]:
# Handle Missing Data
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
X[:,] = imputer.fit_transform(X[:,])

In [0]:
# preprocess data
categorical = ['ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain']
for i in range(1,10):
    if i<7:
        categorical.append('card{}'.format(i))
    categorical.append('M{}'.format(i))
print(categorical)
categorical_index = []
categorical_index = []
index = 0
for col in train_transaction.columns:
  if col in categorical:
    categorical_index.append(index-3)
  else:
    categorical_index.append(index-3)
  index+=1
print(categorical_index)
print(non_categorical_index)

preprocess = make_column_transformer(
    (non_categorical_index, StandardScaler()),
    (categorical_index, OneHotEncoder())
)

preprocess.fit_transform(X).toarray()[:5]

# Encode String Categories
# print(train_transaction.columns[:20])
# label_encoder = LabelEncoder()
# for i in categorical_index:
#   if isinstance(X[0][i], str):
#     X[:,i] = label_encoder.fit_transform(X[:,i])
# test_data = copy.copy(X)
# one_hot_encoder = OneHotEncoder(categorical_features=[1])
# test_data = one_hot_encoder.fit_transform(test_data)

['ProductCD', 'addr1', 'addr2', 'P_emaildomain', 'R_emaildomain', 'card1', 'M1', 'card2', 'M2', 'card3', 'M3', 'card4', 'M4', 'card5', 'M5', 'card6', 'M6', 'M7', 'M8', 'M9']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 43, 44, 45, 46, 47, 48, 49, 50, 51]
Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt',
       'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5', 'card6',
       'addr1', 'addr2', 'dist1', 'dist2', 'P_emaildomain', 'R_emaildomain',
       'C1', 'C2', 'C3'],
      dtype='object')

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

# Logistic Regression